.container{
    display: flex;
    justify-content: center;
    border: 2px;
    margin: 20px;

}

.container div{
    align-items: center;
    border: 1px solid gray;
    margin: 10px;
}


form-group {
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  display: block;
  margin-bottom: 8px;
  color: black;
  font-weight: 500;
}
